
.ee-calculator {
    width: 50%;
    margin: 0 auto;
    font-size: 22px;
    margin-top: 100px;
    max-width: 275px;
    user-select: none;
}

.ee-flex-container {
    display: flex;
    width: 100%;
}

.ee-calculator-entry {
    border: 1px solid #06283a;
    background: #1795d4;
    color: white;

    height: 95px;
    text-align: center;

    display: grid;
    place-items: center;
}

.ee-button.operator {
    background: #06283a;
    color: white;
} 

.ee-button {
    border: 0.1px solid #06283a;
    cursor: pointer;
    flex-grow: 1;

    display: grid;
    place-items: center;

    height: 60px;
}



.ee-button .operator:hover {
    background: #b515;
}

.ee-button .operator:active {
    background: #a6133a;
}